.post-comment {
  margin: 30px 0;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 25px;
}
.post-comment .comment-section {
  height: -moz-fit-content;
  height: fit-content;
}
.post-comment .comment-section .comment {
  background: #fcfefe;
  border-radius: 15px;
  padding: 15px 20px;
  margin: 20px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.post-comment .comment-section .comment .comment-detail {
  margin: 15px 0;
  padding: 0 15px;
}
.post-comment .comment-section .comment .comment-detail .someone-commented-img {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px 0;
}
.post-comment .comment-section .comment .comment-detail .recomment-to-other small {
  font-size: 10px;
}
.post-comment .comment-section .comment .comment-detail .like-reply-comment svg {
  font-size: 20px;
  color: #9dc8cb;
  transition: 0.1s linear all;
  cursor: pointer;
}
.post-comment .comment-section .comment .comment-detail .like-reply-comment svg:hover {
  transition: 0.1s linear all;
  color: #85acaf;
}
.post-comment .comment-section .comment .comment-detail .comment-text {
  padding: 5px;
  text-align: justify;
}
.post-comment .comment-section .comment .comment-detail .comment-text span {
  line-height: 1.7;
}
@media (max-width: 500px) {
  .post-comment .comment-section .comment {
    padding: 15px 10px;
  }
  .post-comment .comment-section .comment .comment-detail {
    padding: 0 !important;
  }
  .post-comment .comment-section .comment .comment-detail .dv-comments {
    flex-direction: column;
    position: relative;
  }
  .post-comment .comment-section .comment .comment-detail .dv-comments .someone-commented-img {
    min-width: 75px;
    max-width: 75px;
    height: 75px;
  }
  .post-comment .comment-section .comment .comment-detail .dv-comments .like-reply-comment {
    justify-content: center;
    position: absolute;
    top: 0;
    left: 10px;
  }
  .post-comment .comment-section .comment .comment-detail .dv-comments .like-reply-comment svg {
    transform: scale(0.8);
  }
  .post-comment .comment-section .comment .reply-comments {
    padding: 15px 10px;
    margin: 7.5px;
  }
  .post-comment .comment-section .comment .reply-comments .dv-comments {
    flex-direction: column-reverse !important;
  }
  .post-comment .comment-section .comment .reply-comments .dv-comments .like-reply-comment {
    justify-content: center;
  }
  .post-comment .comment-section .comment .reply-comments .dv-comments .someone-commented-reply-img {
    min-width: 65px;
    max-width: 65px;
    height: 65px;
  }
}
.post-comment .comment-section::-webkit-scrollbar {
  width: 5px;
}
.post-comment .comment-section::-webkit-scrollbar-track {
  background: #a9d8ce;
  border-radius: 5px;
}
.post-comment .comment-section::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(6, 109, 88, 0.5137254902);
}
